.movie-card{
    position: relative;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}
.movie-poster{
    width: 25vw;
}
.favorite{
    position: absolute;   
    z-index: 1;
    top: 3%;
    left: 80%;
    color: white;
    border-radius: 60%;
    background-color:rgb(202, 208, 212);
    border: none;
    padding: 1.5%;

}
.pressed{
    position: absolute;   
    z-index: 1;
    top: 3%;
    left: 80%;
    color: red;
    border-radius: 60%;
    background-color:rgb(202, 208, 212);
    border: none;
    padding: 1.5%;

}

.movie-card >h3{
    margin: 0;
    padding: 0;
}
.movie-card >h4{
    margin: 0;
    padding: 0;
}
.movie-link{
    text-decoration: none;
    color: black;
}
.movie-link :hover{
   text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .movie-card{
        width: 90%;
        margin: auto;
    }
    .movie-poster{
        width: 100%;
    }
}